.summary-card {
  display: flex;
  width: 50%;
  margin: 1vh 1vw;
}

.summary-card-image {
  margin: auto;
  height: 50vh;
}

.summary-card-description {
  font-size: large;
}

.summary-card-extra-info p {
  margin-top: 0px;
  margin-bottom: 0px;
}
