.summary-card {
  display: flex;
  width: 50vw;
  margin: 1vh 1vw;
}

.summary-card-image {
  margin: auto;
  width: 46vw;
  display: block;
}

.summary-card-description {
  font-size: large;
}

.summary-card-extra-info p {
  margin-top: 0px;
  margin-bottom: 0px;
}
