.landing-body {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}

.landing-message {
  width: 40%;
  margin-bottom: 2rem;
}

.landing-navigation {
  margin-top: 2vh;
}

.image-button:hover {
  cursor: pointer;
}

.image-button {
  width: 30%;
  margin: 1rem;
}
