.landing-body {
  text-align: center;
  background: url("../../assets/images/background-repeat.png");
  background-size: 100%;
}

.large-logo {
  width: 40%;
  margin-bottom: 1rem;
}

.image-button:hover {
  cursor: pointer;
}

.image-button {
  width: 30%;
  margin: 1rem;
}