/* That blue: #2a59e9 */

body {
  text-align: center;
  background: url("./assets/images/background2.png");
  background-size: 100%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}
